pyzmq
termcolor
simplejson
appdirs>=1
psutil>=5
huggingface_hub>=0
llama-cpp-python<0.2.79
numpy>=1
openai>=1
mistralai>=0
anthropic>=0
pillow>=10
av>=12
flask>=3
werkzeug>=3
importlib-metadata>=7
googlesearch-python>=1
duckduckgo-search>=6
urlextract>=1
selenium>=4
bs4>=0
scipy>=1
scikit-learn>=1
arxiv>=2
einops>=0
librosa>=0

# Optional Dependencies (Extra categories):
torch>=2; optional=true
transformers>=4; optional=true
accelerate>=0; optional=true
bitsandbytes>=0; optional=true
peft>=0; optional=true
datasets>=2; optional=true
tensorboard>=2; optional=true
typeguard==2.13.3; optional=true
sounddevice>=0; optional=true
espnet==202207; optional=true
espnet-model-zoo==0.1.7; optional=true
espnet-tts-frontend==0.0.3; optional=true
torchaudio>=2; optional=true
marker-pdf; optional=true
