pyzmq==25.1.2
termcolor==2.4.0
simplejson==3.19.2
transformers==4.38.1
torch==2.2.1
accelerate==0.27.2
bitsandbytes==0.42.0
appdirs==1.4.4
openai==1.12.0
pillow==10.2.0
gradio==4.19.2
importlib-metadata==6.11.0
chromadb==0.4.23
googlesearch-python==1.2.3
urlextract==1.8.0
selenium==4.18.1
html2text==2024.2.25
nougat-ocr==0.1.17
scipy==1.12.0
scikit-learn==1.4.1.post1
arxiv==2.1.0
peft==0.8.2
datasets==2.17.1
tensorboard==2.16.2
sounddevice==0.4.6
numpy==1.26.4
librosa==0.10.1
espnet==202207
espnet-model-zoo==0.1.7
espnet-tts-frontend==0.0.3
torchaudio==2.2.1